@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import '../../scss/dark.scss';


.account-settings-row+.account-settings-row {
    border-top: 1px solid #dee2e6;
    padding-top: 1.5rem;
}

.account-settings-row {
    padding-bottom: 1.5rem;
}

#app[data-theme='dark'],
.modal-dialog[data-theme='dark'] {
    .account-settings-row+.account-settings-row {
        border-color: $dark-border;
    }
}