@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import '../../scss/dark.scss';

.message {
	padding: 8px 12px;
	border-radius: 1.2rem;
	overflow: hidden;
	background-color: $gray-200;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

@include media-breakpoint-up(md) {
	.message {
		max-width: min(700px, 70%) !important;
	}
}

.message-no-text {
	padding: 3px 0;
	font-size: 2.3rem;
	background: none !important;
}

#app[data-theme='dark'] {
	.message {
		background-color: $dark-washed
	}
}