@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import '../../scss/dark.scss';

.iconButton {
    padding: 8px;
    border-radius: 50em;
    border: 0;
    margin: 0;
    background: none;
}

.iconButton.enabled {
    cursor: pointer;
}

.iconButton svg {
    transition: color 0.5s ease;
}

.iconButton.enabled:hover {
    background-color: $gray-200;
}

.iconButton.enabled:active {
    background-color: $gray-300;
}

#app[data-theme='dark'] {
    .iconButton.enabled:hover {
        background-color: mix($dark-background, $dark-washed, 20%);
    }
    
    .iconButton.enabled:active {
        background-color: $dark-washed;
    }
}