@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.horizontal-separator {
    display: flex;
    flex-direction: row;
    color: $gray-500;
}

.horizontal-separator:before, .horizontal-separator:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.horizontal-separator:before {
    margin-right: 10px
}
.horizontal-separator:after {
    margin-left: 10px
}