$primary: #0061f2;
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5)
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

* { 
	box-sizing: border-box
}

/* From: https://gomakethings.com/how-to-break-an-image-out-of-its-parent-container-with-css/ */

.btn {
	border-radius: 9999px;
}

.fw-bold {
    font-weight: 500 !important;
}

.btn-lg, .btn-group-lg > .btn {
	padding: 16px 32px !important;
}

.btn {
	padding: 0.4rem 1.1rem;
}

.btn-link {
	padding: 0 !important;
}

.border-separator {
	border-color: rgba(0, 0, 0, 0.1);
}

.form-control.focus {
    color: #212529;
    background-color: #fff;
    border-color: #80b0f9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 97 242 / 25%);
}

.bg-gray-200 {
    background-color: $gray-200;
}

.tooltip {
	// For some reason this doesn't work with $variable
	--bs-tooltip-bg: var(--bs-gray-900);
}

.modal-title {
	text-align: center;
	font-size: 1.3em;
	width: 100%;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-body {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

form {
	margin-block-end: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

p {
	max-width: 1000px;
}