@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.chat {
    cursor: pointer;
}

.chat:hover {
    background-color: $gray-200;
}

.chat.current {
    background-color: $gray-100;
}