@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.chat {
    cursor: pointer;
}

.chat:hover {
    background-color: mix($gray-100, $gray-200) !important;
}

.current.chat {
    background-color: $gray-100;
}